@import "./variables.scss";

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
  }
}
